[Unit]
Description=Emacs text editor

[Service]
Type=notify
ExecStart=zsh -c "emacs --fg-daemon"
ExecStop=emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
