[user]
	name = Chris de Graaf
	email = chrisadegraaf@gmail.com
[github]
	user = christopher-dG
[alias]
	assume-unchanged = update-index --assume-unchanged
	assume-changed = update-index --no-assume-unchanged
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[credential]
	helper = cache
