Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

urxvt*locale: true
urxvt*metaSendsEscape: true
urxvt.font: xft:xos4 terminus:pixelsize=14,xft:Symbola
urxvt*scrollBar: false
urxvt*internalBorder: 5
